/* 



.videocontainer {
    border: 2px solid teal;
    width: 100%;
    height: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5vw;
}

.video {
    border: 3px solid red;
    height: 100%;
    position: relative;
}

.video iframe {
    width: 100%;
    height: 100%;
}



.currentShows {
    border: 4px solid gainsboro;
    width: 95%;
    height: 45vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1vw;
    padding: 1vw;
    margin: 0 auto;
    border-radius: 10px;
}

.upcoming {
    height: 100%;
}

.current.three h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
    font-style: italic;
}

.current.three h3 {
    width: 90%;
    font-size: 1.1vw;
    text-align: center;
    font-style: italic;
    margin-bottom: .5vw;
}

.current img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.previoushows {
    width: 95%;
    height: 4%;
    max-height: max-content;
    overflow-x: scroll;
    padding: 1vw;
    margin: 0 auto;
}

.pshow {
    position: absolute;
    font-size: 1.3vw;
}

.previouscontainer {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
    margin-top: 2.5vw;
}


.previousshow {
    height: 25vw;
    width: 19.5vw;
    margin-left: 1vw;
    position: relative;
}

.previousshow:first-child {
    margin-left: 0;
}

.previousshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.previousshow:hover {
    cursor: pointer;
}

.previousshow h3 {
    text-align: center;
    color: black;
    position: absolute;
    top: 3vw;
    width: 100%;
    font-size: 1.1vw;
    font-style: italic;
}

.previousshow h2 {
    text-align: center;
    margin-top: .7vw;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: .9vw;
    font-style: italic; 
    top: 0;
    left: 0;
    font-size: 20vw;
 }










































.slider {
    width: 800px;
    margin: 0 auto;

    height: 500px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
    position: relative;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}


.manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: red;
}


.imagecontainer {
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px solid white;
}

.imagecontainer img {
    position: relative;
    width: 100%;
    height: 100%;
}

.mySlidesmini {
    display: grid;
    border: 2px solid white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}

.artistContainer p {
    text-align: center;
    padding: 1vw;
    font-size: 1vw;
    line-height: 2vw;
}


.artistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
}

.artistContainer h3 {
    font-size: 2vw;
}

.artistContainer .instrument {
    font-size: 1.4vw;
    margin-bottom: -2vw;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: 5vw;
  }
  
  .mySlides {
    display: none;
    height: 40vw;
    display: flex;
  }

  .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  

  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  



























.artist-container {
    border: 3px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 40vw;
    display: flex;
    position: relative;
    overflow-x: scroll;
}


.artist-image {
    aspect-ratio: 9/6;
    height: 33%;
    width: 40%;
    border-radius: 10px;
    top: 7vw;
    left: 55%;
    position: sticky;
    transition: 1s ease-in-out;
}

.informationColumn {
    height: max-content;
    position: relative;
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: -15vw;
}

.artistInformation {
    padding: 2vw;
    margin-bottom: 25vw;
}

.artist {
    font-size: 2.1vw;
    text-align: center;
}

.instrument {
    font-size: 1.4vw; 
    margin-bottom: -1vw;
     text-align: center;
}

.artistInformation p {
    font-size: 1.2vw;
    line-height: 1.7vw;
    text-align: center;
}

.artistInformation:last-child {
    margin-bottom: 15vw;
} 

.artistscroll .artistinformation {
    width: 35%;
    position: absolute;
    top: 22%;
    right: 60%;
    height: max-content;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 */
